<div class = "container"> 
   <h1>Product Form</h1> 
   <form> 
      <div class = "form-group"> 
         <label for = "productid">ID</label> 
         <input type = "text" class = "form-control" id = "productid" required 
            [(ngModel)] = "first" name = "id"> {{first}}
      </div> 
      
      <div class = "form-group"> 
         <label for = "name">Name</label> 
         <input type = "text" class = "form-control" id = "name" 
            [(ngModel)] = "second" name = "name">  {{second}}
        
      </div> 
       <input type="button" name="submit" value="submit" (click)="addNum(first,second)">
       <label>Result:--</label>{{result}}
   </form> 
<p myHighlight highlightColor="mycolor">Highlight me!</p>
<p [myHighlight]="mycolor" >
  Highlight me too!
</p>
<div>
  <input type="radio" name="colors" (click)="mycolor='lightgreen'">Green
  <input type="radio" name="colors" (click)="mycolor='yellow'">Yellow
  <input type="radio" name="colors" (click)="mycolor='cyan'">Cyan
</div>
</div>
<div>
    <button (click)="loadUser()">Load profile</button>
    {{ profile | json }}
  </div>
  